Zadanie 2/generated_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dokument">
    <xs:annotation>
      <xs:documentation>XML Car Database created by Michał Mamona &amp; Michał Białecki [2019]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        
        <!--baza autorów dokumentu -->
        <xs:element name="autorzy">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="autor" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="grupa_TGSK" use="required"/>
                      <xs:attribute type="xs:string" name="github" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!--baza zmian w dokumencie -->
        <xs:element name="zmiany">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="zmiana" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="baza">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="samochód" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>

                  <xs:group name="parametry">
                  <xs:sequence>
                    <xs:element name="marka_auta">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="markaID" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="model">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="kraj" use="optional" default="Niemcy"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="rocznik">
                      <xs:simpleType>
                        <xs:restriction base="xs:short">
                          <xs:minInclusive value="1900"/>
                          <xs:maxInclusive value="9999"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element type="xs:string" name="typ"/>

                    <xs:element type="xs:int" name="przebieg"/>

                    <xs:element type= "xs:simpleType" name="rodzaj_silnika">
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Diesel"/>
                        <xs:enumeration value="Benzyna" />
                        <xs:enumeration value="Elektryczny"/>
                      </xs:restriction>
                    </xs:element>

                    <xs:element type="xs:float" name="pojemność_silnika"/>
                    <xs:element type="xs:int" name="cena"/>
                    <xs:element type="xs:date" name="data_umieszczenia_ogłoszenia"/>
                  </xs:sequence>
                </xs:group>
                  <xs:attribute type="xs:string" name="ID" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!--Baza marek aut-->
        <xs:element name="marki">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="marka" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element type="xs:string" name="koncern"/>

                    <xs:element name="rok_założenia">
                     <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                  </xs:sequence>
                  <xs:attribute type="xs:string" name="markaID" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- -->

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>